
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  cursor: url('image-path.png'),auto;
  
 }



 canvas {
  display: block;
 }
  
 .button {
  background-color: white;
  border: 0.16em solid #1d3fd6;
  margin: 10px 0px;
  font-size: 20px;
  padding: 10px 30px;
  display: inline-block;
 }



 .toptab {
   float: right;
   width: 15%; /*10*/
   transform: translateY(80%) translateX(-20%)

 }



 .button_cont {
   text-align: center;
 } 

 
  
 .button:hover{
  background-color: #1d3fd6;
  color: white ;
  border-color: white;
 }
  
.bpage1 {
  float:right;
  transform: translateX(0%) translateY(-15px)
}

/*
#button_page1_text:hover {
  color: white;
  margin: 0px;
 }
 */

 text{
  font-size: 20;
  text-align: center;
 }
 
 * {
  font-family: Helvetica, Arial, sans-serif;
}




.rect {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 0%
}

.rect1{
width: 800px; /*900px*/
height: 50px;  /*35px*/
border-width: 2px;
border-color: white;
border-style: solid;
/*border-top-left-radius: 15px;
border-top-right-radius: 15px;*/
background-color:#1d3fd6;
margin: 0px
}

.rect2{
 width: 700px;
 height: 300px;  /*300px*/
 transform: translateY(-2px);
 border-style: solid;
 border-width: 2px;
 border-color:white;
 /*border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;*/
 background-color: #1d3fd6;
 padding: 50px;
 padding-top: 0px;
 padding-bottom: 75px;
 }

 .rect2 p{
  /*margin-top: 10%;*/
  text-align: center;
  font-size: 42px;
  overflow: hidden;
  text-overflow: clip;
  word-wrap: break-word;
  margin-bottom: 0px
 }

 #pag1 {
  text-align: justify;
  color: white;

 }





 a {

  color: black;
  text-decoration: none;

 }


 

#testo-home {
  font-size: 8em;
  margin: 0px;
  position: relative;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-text-box { 

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  background-color :red;
  
}

#homepage_button { 
  transform: translateY(-600%) translateX(0%)
}

.pagine_blu { 
  background-color: #1d3fd6;
 
}

#background-sketch { 
  background-color: #1d3fd6;
  z-index: -10;
  width: 100%;
  height: 100%;
}


#homepage-bigbox { 
  display: flex; 
}




/* HOMEPAGE */
 .big-container { 
  display: flex; 
  
  width: 100%;
  height: 100%;
  background: none;
 
}

div .big-text  { 
  
  width: 90%;
  height: 80%;
  
  display: flex;
  padding: 5%;
  background: none;
}

.big-text-in { 
  font-size: 108px;
  margin: 0px;
  
  line-height: 96px;
  background: none;
  
}

.button-forward  { 
  width: 160px;
  height: 56px;
  position: absolute;
  left: 83.1%;
  top: 81.5%;
  
}

#sketch-background { 

  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  
}


/* PAGINA UNO */

.question-page-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  
  }


.question-box {
  width: 800px;
  
  background-color: white;
  overflow: auto;
  border: 5px solid black;
  }

.question-box-top {
  width: 750px;
  height: 50px;
  background-color:white;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 5px solid black;
  }

  .question-box-in {
    width: 750px;
    
    padding: 25px;
    background-color:white;
    
    
    
    }

    .single-button-div {
      width: 800px;
      height: 50px;
      
      background-color: white;
      display: flex; 
      justify-content: center;
  align-items: top;
  
      }

.button-image  {
  width: 120px;
  height: 32px;
  background-color: white;

  }

  .question-box-text-p {
    overflow: auto;
    }


    .toptab {
      float: right;
      width: 15%; /*10*/
      transform: translateY(80%) translateX(-20%)
   
    }

    
/* PAGINA 2 */

.double-button-div {
  width: 800px;
  height: 50px;    
  background-color: orange;
  display: flex; 
  justify-content: center;
  align-items: top;
  
}

.double-button {
  margin-left: 10%;
  margin-right: 10%;
  /* STILE BOTTONI */
  }





.rect{
  width: 800px; /*900px*/
  height: 500px;  /*35px*/
  border-width: 2px;
  border-color: white;
  border-style: solid;
  /*border-top-left-radius: 15px;
  border-top-right-radius: 15px;*/
  background-color: yellow;
  margin: 0px
  }
  
  
  .rect1{
   width: 700px;
   height: 300px;  /*300px*/
   transform: translateY(-2px);
   border-style: solid;
   border-width: 2px;
   border-color:white;
   /*border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;*/
   background-color: red;
   padding: 50px;
   padding-top: 0px;
   padding-bottom: 75px;
   }
  

   .interaction-text {
    color:red;
    font-size: 108px;
    margin: 0px;
  
    line-height: 96px;
    background: none;
  

    }

    

   
   
  /* PROVA DIV */


.myClass {
  width: 600px; 
  background-color: purple;
  height: 600px;
 

}

.myP {
  color: red;
  font-size: 12px;
}

.myDiv2 {
  /*background-color: yellow;*/
  height: 700px;
  width: 200px;
  position: absolute;

  
}


.asters {
  width: 50px;
  height: 50px;
  
}


/* INTERACTION PARTS */

.button-symbol {
  width: 182px;
  height: 182px;
  font-size: 102px;
  color: white;
  background: #1d3fd6;
  border: solid white 3px;
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.button-symbol:hover {
  width: 182px;
  height: 182px;
  font-size: 102px;
  color: #1d3fd6;
  background: white;

  
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}



.button-symbol-small {
  width: 120px;
  height: 120px;
  font-size: 72px;
  color: white;
  background: #1d3fd6;
  border: solid white 3px;
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}




.button-symbol-small:hover {
  width: 120px;
  height: 120px;
  font-size: 72px;
  color: #1d3fd6;
  background: white;

  
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
  
  
  
  
  
   
/* GRAPH */

.button-graph {
  margin-left: 10%;
  margin-right: 10%;
  width: 275px;
  font-size: 24px;
  margin-bottom: 5%;
  color: black;
  background: white; 
  border: solid #1d3fd6 3px; 
  outline: none
}
  
.button-graph:hover {
  
  color: white;
  background: #1d3fd6; 
  border: solid #1d3fd6 3px; 
  outline: none
}
  
  
.canvas-visual {
  background: none;
  border: 2px solid black;
  display: flex; 
  align-content: center; 
  justify-content: center;
}
   
  
  
  


/* CSS ELE */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  cursor: url('image-path.png'),auto;
  
 }



 canvas {
  display: block;
 }
  
 .button {
  background-color: white;
  border: 0.16em solid #1d3fd6;
  margin: 10px 0px;
  font-size: 20px;
  padding: 10px 30px;
  display: inline-block;
 }



 .toptab {
   float: right;
   width: 15%; /*10*/
   transform: translateY(80%) translateX(-20%)

 }



 .button_cont {
   text-align: center;
 } 

 
  
 .button:hover{
  background-color: #1d3fd6;
  color: white ;
  border-color: white;
 }
  
.bpage1 {
  float:right;
  transform: translateX(0%) translateY(-15px)
}

/*
#button_page1_text:hover {
  color: white;
  margin: 0px;
 }
 */

 text{
  font-size: 20;
  text-align: center;
 }
 
 * {
  font-family: Helvetica, Arial, sans-serif;
}




.rect {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 0%
}

.rect1{
width: 800px; /*900px*/
height: 50px;  /*35px*/
border-width: 2px;
border-color: white;
border-style: solid;
/*border-top-left-radius: 15px;
border-top-right-radius: 15px;*/
background-color:#1d3fd6;
margin: 0px
}

.rect2{
 width: 700px;
 height: 300px;  /*300px*/
 transform: translateY(-2px);
 border-style: solid;
 border-width: 2px;
 border-color:white;
 /*border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;*/
 background-color: #1d3fd6;
 padding: 50px;
 padding-top: 0px;
 padding-bottom: 75px;
 }

 .rect2 p{
  /*margin-top: 10%;*/
  text-align: center;
  font-size: 42px;
  overflow: hidden;
  text-overflow: clip;
  word-wrap: break-word;
  margin-bottom: 0px
 }

 #pag1 {
  text-align: justify;
  color: white;

 }





 a {

  color: black;
  text-decoration: none;

 }


 

#testo-home {
  font-size: 8em;
  margin: 0px;
  position: relative;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-text-box { 

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  background-color :red;
  
}

#homepage_button { 
  transform: translateY(-600%) translateX(0%)
}

.pagine_blu { 
  background-color: #1d3fd6;
 
}

#background-sketch { 
  background-color: #1d3fd6;
  z-index: -10;
  width: 100%;
  height: 100%;
}


#homepage-bigbox { 
  display: flex; 
}




/* HOMEPAGE */
 .big-container { 
  display: flex; 
  
  width: 100%;
  height: 100%;
  background: none;
 
}

div .big-text  { 
  
  width: 90%;
  height: 80%;
  
  display: flex;
  padding: 5%;
  background: none;
}

.big-text-in { 
  font-size: 108px;
  margin: 0px;
  
  line-height: 96px;
  background: none;
  
}

.button-forward  { 
  width: 160px;
  height: 56px;
  position: absolute;
  left: 83.1%;
  top: 81.5%;
  
}

#sketch-background { 

  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  
}


/* PAGINA UNO */

.question-page-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  
  }


.question-box {
  width: 800px;
  
  background-color: white;
  overflow: auto;
  border: 5px solid black;
  }

.question-box-top {
  width: 750px;
  height: 50px;
  background-color:white;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 5px solid black;
  }

  .question-box-in {
    width: 750px;
    
    padding: 25px;
    background-color:white;
    
    
    
    }

    .single-button-div {
      width: 800px;
      height: 50px;
      
      background-color: white;
      display: flex; 
      justify-content: center;
  align-items: top;
  
      }

.button-image  {
  width: 140px;
  height: 40px;
  margin-bottom: 10%;
  background-color: white;
  border: solid #1d3fd6 3px;
  outline: none;

  }

  .button-image:hover  {
    width: 140px;
    height: 40px;
    margin-bottom: 10%;
    background-color: #1d3fd6;
    border: solid white 3px;
    outline: none;
    
  }


  
 
  .question-box-text-p {
    overflow: auto;
    font-size: 30px;
    text-align: center;
    }



    .toptab {
      float: right;
      width: 15%; /*10*/
      transform: translateY(80%) translateX(-20%)
   
    }

    
/* PAGINA 2 */



.double-button-div {
  width: 800px;
  height: 45px;    
  /*background-color: orange;*/
  display: flex; 
  justify-content: center;
  align-items: center;
  
}

.double-button {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  margin-bottom: 5%;
  color: black;
  background: white;
  border: solid #1d3fd6 3px;
  outline: none;

   /* STILE BOTTONI */

  }


  .double-button:hover {
    background-color: #1d3fd6;
    color: white ;
    border-color: white;
    
   }

  .double-button:hover + .hide {
    visibility: visible;
  }

   .hide {
     visibility:  hidden;
     transform: translateY(-40%);
   }




.rect{
  width: 800px; /*900px*/
  height: 500px;  /*35px*/
  border-width: 2px;
  border-color: white;
  border-style: solid;
  /*border-top-left-radius: 15px;
  border-top-right-radius: 15px;*/
  background-color: yellow;
  margin: 0px
  }
  
  
  .rect1{
   width: 700px;
   height: 300px;  /*300px*/
   transform: translateY(-2px);
   border-style: solid;
   border-width: 2px;
   border-color:white;
   /*border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;*/
   background-color: red;
   padding: 50px;
   padding-top: 0px;
   padding-bottom: 75px;
   }
  

   .interaction-text {
    color:red;
    font-size: 108px;
    margin: 0px;
  
    line-height: 96px;
    background: none;
  

    }



    

   
   
  /* PROVA DIV */


.myClass {
  width: 600px; 
  background-color: purple;
  height: 600px;
 

}

.myP {
  color: red;
  font-size: 12px;
}

.myDiv2 {
  background-color: yellow;
  height: 700px;
  width: 200px;
  position: absolute;

  
}


.asters {
  width: 50px;
  height: 50px;
  
}


/* INTERACTION PARTS */

.button-symbol {
  width: 182px;
  height: 182px;
  font-size: 102px;
  color: white;
  background: #1d3fd6;
  border: solid white 3px;
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.button-symbol:hover {
  width: 182px;
  height: 182px;
  font-size: 102px;
  color: #1d3fd6;
  background: white;

  
  outline: none;
  
  outline: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

 
  
 
  
  
  
  
  
  
  
  




